/* The widest/base container */
@mixin layout-container--base {
  margin-left: auto;
  margin-right: auto;
  padding: 0 $spacing--horizontal;
}

/* Max container */
@mixin layout-container {
  @include layout-container--base;
  max-width: $width--content-max;
}

/* Narrow containers */
@mixin layout-container--narrow {
  @include layout-container--base;
  max-width: $width--content-reading;
}
