/**
 * CLEAR VISUAL KEYBOARD FOCUS
 * 
 * This relies on what-input.js:
 * 
 * suppress focus ring on form controls
 * for mouse and touch users.
 */
[data-whatintent='mouse'] *:focus,
[data-whatintent='touch'] {
  outline: none;
}

[data-whatintent='keyboard'] {
  /**
	 * force clear visual focus for
	 * keyboard navigation.
	 */
  *:focus {
    outline: 2px dashed $color--clear-visual-focus;
    outline-offset: 2px;
  }

  /**
	 * special overrides for checkboxes
	 * and radio buttons.
	 */
  .form-radio:focus,
  .form-checkbox:focus,
  .facets-checkbox:focus,
  .facets-radio:focus {
    + label:before {
      outline: 2px dashed $color--clear-visual-focus;
      outline-offset: 2px;
    }
  }
}

/* accessible skip-navigation link */
.skip-link {
  font-family: $font--button;
  padding: 0.25rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

a.visually-hidden.focusable {
  &.skip-link,
  &.accessibility,
  &.skip-filters {
    &:focus {
      position: fixed !important;
      top: 0;
      left: 0;
      z-index: 9999;
      clip: auto;
      height: auto;
      width: auto;
      font-size: 14px;
      color: $color--white;
      background-color: $color--black;
      z-index: 50;
      padding: 0.75em;
      outline: none;
      border: 2px dashed $color--clear-visual-focus !important;
    }
  }
}
